@model IEnumerable<PharmCare.DTO.PatientModule.PatientDTO>
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />


<div class="x_panel shadow p-3  rounded" style="height: 5rem; background-color: #2a3f54;">
	<div class="col-md-10 my-auto">
		<h4 class="top-banner-header">
			Patients
		</h4>
		<p class="text-primary">
			<span>Home</span> <span> <i class="fa fa-angle-double-right"></i> </span>  <span>Patients</span>
		</p>

	</div>

	<div class="col-md-2 my-auto">
		<div class="col-md-12 text-center text-bold">
			<a class="pull-right" href="#" data-toggle="modal" data-target="#ModalCreatePatient" data-backdrop="static" data-keyboard="false">
				<span class="m-0 p-0 top-banner-add"><i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i></span>
				<h6 class="top-banner-add">Add Patient</h6>
			</a>
		</div>
	</div>

</div>



<div class="x_panel shadow p-3 mb-5 bg-white rounded">
	<div class="x_title">
		<div class="row">
			<div class="col-md-4">
				<h6 class="Header"><i class="fa fa-building"></i>List of Patients</h6>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">

		<div class="row">
			<div class="col-sm-12">
				<div class="card-box table-responsive">
					<table id="tblPatient" class="table table-striped table-bordered dt-responsive nowrap table-sm" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th scope="col">No</th>
								<th scope="col">Patient No.</th>
								<th scope="col">Full Name</th>
								<th scope="col">Phone Number</th>
								<th scope="col">D.O.B</th>
								<th scope="col">Age</th>
								<th scope="col">Height</th>
								<th scope="col">Weight</th>
								<th scope="col">Residence</th>
								<th scope="col">County</th>
								<th scope="col">Sub County</th>
								<th scope="col">Entry Date</th>
								<th scope="col">Options</th>
							</tr>
						</thead>
						<tbody id="tblFilterPatient">

							@if (Model != null && Model.Count() > 0)
							{
								int count = 1;
								@foreach (var item in Model)
								{
									<tr>
										<td>@count</td>

										<td>@item.PatientNumber</td>

										<td>@item.FullName</td>

										<td>@item.PhoneNumber</td>

										<td>@item.DateOfBirth.ToShortDateString()</td>

										<td>@item.Age</td>

										<td>@item.Height</td>

										<td>@item.Weight</td>

										<td>@item.Residence</td>

										<td>@item.CountyName</td>

										<td>@item.SubCountyName</td>

										<td>@item.CreateDate.ToShortDateString()</td>

										<td>
											<a class=" btn-success  btn-sm" href="#" onclick="GetRecord('@item.Id')" value=""><i class="fa fa-edit"> Edit</i></a>


											<a class=" btn-danger  btn-sm" href="#" onclick="DeleteRecord('@item.Id')" value=""><i class="fa fa-trash"> Delete</i></a>

										</td>
									</tr>

									count++;
								}
							}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>

</div>




<div class="modal fade" id="ModalCreatePatient" tabindex="-1" role="dialog" aria-labelledby="ModalCreatePatient" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title Header" id="ModalCreatePatient">Add Patient</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form id="frmAddPatients">

					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">First Name</label>
							<input type="text" class="form-control myinputs" id="txtFirstName" name="FirstName" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Last Name</label>
							<input type="text" class="form-control myinputs" id="txtLastName" name="LastName" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Phone Number</label>
							<input type="text" class="form-control myinputs numericOnly" id="txtPhoneNumber" name="PhoneNumber" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Date of Birth</label>
							<input type="date" class="form-control myinputs " id="txtDateOfBirth" name="DateOfBirth" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">ID No</label>
							<input type="text" class="form-control myinputs " id="txtIDNumber" name="IDNumber" aria-describedby="emailHelp">
						</div>
					</div>


					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">NHIF No</label>
							<input type="text" class="form-control myinputs " id="txtNHIFNo" name="NHIFNo" aria-describedby="emailHelp">
						</div>
					</div>


					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Select County</label>
							<select class="form-control myinputs" id="txtCountyId" name="CountyId" onchange="GetSubCounties()">

								<option value="" selected disabled hidden>Select County...</option>
								@if (ViewBag.Counties != null)
								{
									foreach (var item in ViewBag.Counties)
									{
										<option value="@item.Id">@item.Name</option>
									}
								}
							</select>
						</div>
					</div>

		
					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Select Sub County</label>
							<select class="form-control myinputs" id="subCountyDropdown" name="SubCountyId"></select>
						</div>
					</div>


					<div class="col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Residence</label>
							<input type="text" class="form-control myinputs " id="txtResidence" name="Residence" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Gender</label>
							<select class="form-control myinputs" name="Gender" id="txtGender">
								<option value="" selected disabled hidden>Select Here</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
					</div>


					<div class="col-md-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Height</label>
							<input type="text" class="form-control myinputs " id="txtHeight" name="Height" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Weight</label>
							<input type="text" class="form-control myinputs " id="txtHeight" name="Weight" aria-describedby="emailHelp">
						</div>
					</div>


				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				<button type="button" id="btnSubmitPatient" class="btn btn-success">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="ModalUpdatePatient" tabindex="-1" role="dialog" aria-labelledby="ModalUpdatePatient" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title Header" id="ModalCreatePatient">Update Patient Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form id="frmUpdatePatient">
					<input type="hidden" name="Id" id="txtId" />
					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">First Name</label>
							<input type="text" class="form-control myinputs" id="txtFirstName1" name="FirstName" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Last Name</label>
							<input type="text" class="form-control myinputs" id="txtLastName1" name="LastName" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Phone Number</label>
							<input type="text" class="form-control myinputs numericOnly" id="txtPhoneNumber1" name="PhoneNumber" aria-describedby="emailHelp">
						</div>
					</div>



					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Date of Birth</label>
							<input type="date" class="form-control myinputs " id="txtDateOfBirth1" name="DateOfBirth" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Residence</label>
							<input type="text" class="form-control myinputs " id="txtResidence1" name="Residence" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Gender</label>
							<select class="form-control myinputs" name="Gender" id="txtGender1">
								<option value="" selected disabled hidden>Select Here</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
					</div>


					<div class="col-md-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Height</label>
							<input type="text" class="form-control myinputs " id="txtHeight1" name="Height" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Weight</label>
							<input type="text" class="form-control myinputs " id="txtWeight1" name="Weight" aria-describedby="emailHelp">
						</div>
					</div>



				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				<button type="button" id="btnUpdatePatient" class="btn btn-success">Submit</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ModalCreatePrescription" tabindex="-1" role="dialog" aria-labelledby="ModalPrescriptionLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title header" id="ModalUdateDepartmentsLabel"> Prescription</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form id="NewOrderForm">


					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">
							Treatment For*
						</label>
						<div class="col-sm-10">
							<textarea class="form-control myinputs" style=" min-height:12px;" name="TreatmentFor" id="txtTreatmentFor"></textarea>
						</div>
					</div>

					<div class="form-group row">
						<p style="margin-left: 9rem; margin-top: 15px; ">Medication</p>
					</div>


					<input type="hidden" id="txtpatientId2" name="PatientId" class="form-control" />

					<input type="hidden" id="txtMedicineName" name="MedicineName" class="form-control" />


					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">
							Select Medicine
						</label>
						<div class="col-sm-10">

							<select class="form-control myinputs" id="txtMedicineId" name="MedicineId" onchange="GetMedicineId(this)">

								<option value="" selected disabled hidden> Select Medicine</option>
								@if (ViewBag.Medicines != null)
								{
									foreach (var item in ViewBag.Medicines)
									{
										<option value="@item.Id">@item.MedicineFullName</option>
									}
								}
							</select>

						</div>
					</div>


					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">
							Select Frequency
						</label>
						<div class="col-sm-4">
							<select class="form-control myinputs" id="txtFrequency" name="Frequency">

								<option value="" selected disabled hidden>  Select Frequency</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
							</select>

						</div>

						<label for="inputEmail3" class="col-sm-2 col-form-label">
							No of Days
						</label>
						<div class="col-sm-4">
							<input type="number" id="txtNoOfDays" name="NoOfDays" class="form-control myinputs" />
						</div>

					</div>


					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">
							When to take
						</label>
						<div class="col-sm-4">
							<select class="form-control myinputs" id="txtWhenTotake" name="WhenTotake">

								<option value="" selected disabled hidden>   When to take</option>
								<option value="before_breakfast">Before Breakfast</option>
								<option value="after_meal">After Meal</option>
								<option value="before_meal">Before Meal</option>
								<option value="night">Night </option>
							</select>

						</div>

						<div class="col-md-2 col-lg-offset-4">
							<button type="button" id="addToList" class="btn btn-info">Add To List</button>

						</div>


					</div>

					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">
							Note*
						</label>
						<div class="col-sm-10">
							<textarea class="form-control myinputs" style=" min-height:12px;" name="Note" id="txtNote"></textarea>

						</div>
					</div>



					<br />
					<table id="detailsTable" class="table">
						<thead>
							<tr>
								<th style="width:30% ;display:none;">MedicineId</th>
								<th style="width:30%">Medicine Name</th>
								<th style="width:20%">Frequency</th>
								<th style="width:15%">Period</th>
								<th style="width:25%">When to take</th>

							</tr>
						</thead>
						<tbody></tbody>
					</table>

				</form>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				<button type="button" id="saveOrder" class="btn btn-success">Submit</button>
			</div>


		</div>
	</div>
</div>



<div id="divLoader" style="display:none;" class="loader">
	<img src="~/loaders/loading-23.gif" alt="Loader" style="width:20em;" />
</div>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/PharmCareJs/Patient.js"></script>
<script src="~/PharmCareJs/prescription.js"></script>

<script>
	$(document).ready(function () {
		$('#tblPatient').DataTable();
	});
</script>


